.main{
    width: 100%;
    height: 100%;
}
.nav-upperPart {
  display: flex;
  align-items: center;
  background-color: #131921;
  color: white;
}
.nav-left {
  display: flex;
  padding: 0.4vw;
  padding-left: 0.3vw;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5vw;
  margin-right: 0.3vw;
}
.nav-location{
    display: flex;
    padding: 0.7vw 0.7vw 0.7vw 0;
}
.pin-icon{
  padding: 0 0.1vw;
}
.ri-map-pin-line{
  font-size: 1.7vw;
}
a:hover{
    border: 1px solid white;
    border-radius: 0.1vw;
}

